<section class="hero is-fullheight has-text-centered has-background-white" id="project">
    <div class="hero-body">
        <div class="container">
            <p>{{site.author-projectmain}}</p>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-squared" src="../assets/images/pColor.png" alt="{{site.author-name}}" width="300" height="300">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-project1}}</p>
                    <br>
                    <div class="container columns is-centered"></div>
                </div>
            </div>
        </div>
    </div>
</section>